<html lang="en">
<head>
	<title>JPEGCam Test Page</title>
</head>
<body>
	<table><tr><td valign=top>
	<h1>JPEGCam Test Page</h1>
	
	<!-- Some buttons for controlling things -->
	<br/><form method="POST" action="/update-image/">
		{% csrf_token %}
		<div class="dean"></div>
		<input type="hidden" name="update_image" id="update_image">
		<input type=button value="Take Snapshot" onClick="take_snapshot()">
		<input type="submit" name="submit" value="Submit">
	</form>
</td><td width=50>&nbsp;</td><td valign=top>
		<div id="upload_results" style="background-color:#eee;"></div>
	</td></tr></table>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	<!-- First, include the JPEGCam JavaScript Library -->
	<script type="text/javascript" src="/static/webcam.js"></script>
	
	<!-- Configure a few settings -->
	<script language="JavaScript">
		webcam.set_api_url( '/save-image/' );
		webcam.set_quality( 90 ); // JPEG quality (1 - 100)
		webcam.set_shutter_sound( true ); // play shutter click sound
	</script>
	
	<!-- Next, write the movie to the page at 320x240 -->
	<script language="JavaScript">
		$(".dean").html(webcam.get_html(320, 240))
		// document.write( webcam.get_html(320, 240) );
	</script>
	<script language="JavaScript">
		webcam.set_hook( 'onComplete', 'my_completion_handler' );
		
		function take_snapshot() {
			// take snapshot and upload to server
			document.getElementById('upload_results').innerHTML = '<h1>Uploading...</h1>';
			webcam.snap();
		}
		
		function my_completion_handler(msg) {
			if (msg != 'No data') {
				// alert(msg);
				var image_url = msg;
				// show JPEG image in page
				document.getElementById('upload_results').innerHTML = '<img src="' + image_url + '">';
				
				// reset camera for another shot
				webcam.reset();
				$("#update_image").val("image");
			}
			else{
				alert("Python Error: " + msg);
			} 
		}
	</script>
</body>
</html>