{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Notifications Demo</h1>

	<!-- This is our list of notifications -->
	<ul id="notifications-section">
		{% for notification in object_list %}
			<li>{{ notification.message }}</li>
		{% endfor %}
	</ul>

	<script type="text/javascript" src="{% static 'swampdragon/js/vendor/sockjs-0.3.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'swampdragon/js/legacy/swampdragon.js' %}"></script>
    <script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>
    <script type="text/javascript" src="{% static 'swampdragon/js/legacy/swampdragon-vanilla.js' %}"></script>
    <script type="text/javascript" src="http://localhost:9999/settings.js"></script>
    <script type="text/javascript" src="{% static 'notifications.js' %}"></script>
</body>
</html>